<div class="container">
  <!-- Lista de amigos -->
  <div class="panel left-panel">
    <h2>Lista de Amigos</h2>
    <ul>
      <li *ngFor="let friend of friends">{{ friend.name }}</li>
    </ul>
  </div>

  <!-- Solicitudes de amistad recibidas -->
  <div class="panel middle-panel">
    <h2>Solicitudes de Amistad Recibidas</h2>
    <ul>
      <li *ngFor="let request of friendRequests">
        {{ request.name }} - {{ request.status === 'pending' ? 'Pendiente' : '' }}
        <img *ngIf="request.status === 'pending'" src="assets/aceptar.png" alt="Aceptar" class="button-image accept-button" (click)="acceptRequest(request)">
        <img *ngIf="request.status === 'pending'" src="assets/denegar.png" alt="Denegar" class="button-image deny-button" (click)="denyRequest(request)">
      </li>
    </ul>
  </div>

  <!-- Búsqueda de usuarios y solicitudes enviadas -->
  <div class="panel right-panel">
    <h2>Buscar Usuarios</h2>
    <input type="text" [(ngModel)]="searchTag" placeholder="Introduce Discord Tag" (keyup.enter)="searchUser()">
    <button (click)="searchUser()">Buscar</button>

    <div *ngIf="searchResult">
      <p>Usuario encontrado: {{ searchResult.name }}</p>
      <button (click)="sendFriendRequest(searchResult)" *ngIf="!searchResult.status || searchResult.status === 'denied'">Enviar Solicitud de Amistad</button>
      <p *ngIf="searchResult.status === 'pending'">Solicitud Pendiente</p>
    </div>
  </div>

  <!-- Solicitudes de amistad enviadas -->
  <div class="panel extra-panel">
    <h2>Solicitudes de Amistad Enviadas</h2>
    <ul>
      <li *ngFor="let sentRequest of sentRequests">
        {{ sentRequest.name }} - {{ sentRequest.status === 'pending' ? 'Pendiente' : sentRequest.status }}
      </li>
    </ul>
  </div>
</div>
