
  <h1>Mi UserTag: {{ userTag }}</h1>


<div class="container">
  <div class="search-section">
    <h2>Buscar Amigo</h2>
    <input type="text" [(ngModel)]="tagBusqueda" placeholder="Buscar por tag...">
    <button (click)="buscarAmigo()">Buscar</button>
  </div>

  <div *ngIf="amigoEncontrado">
    <h3>Amigo encontrado:</h3>
    <p>{{ amigoEncontrado }}</p>
    <button (click)="enviarSolicitud(amigoEncontrado)">Enviar solicitud</button>
  </div>



  <div class="panel middle-panel">
    <h2>Solicitudes de Amistad Recibidas</h2>
    <ul>
      <li *ngFor="let solicitud of solicitudesAmistad">
        {{ solicitud.tag }}
        <img src="assets/aceptar.png" alt="Aceptar" class="button-image accept-button" (click)="aceptarSolicitud(userId, solicitud.tag)">
        <img src="assets/denegar.png" alt="Denegar" class="button-image deny-button" (click)="denegarSolicitud(userId, solicitud.tag)">
      </li>
    </ul>
  </div>
</div>


<div class="panel left-panel">
  <h2>Lista de Amigos</h2>
  <ul>
    <li *ngFor="let amigo of listaAmigos">
      {{ amigo.nombre }} 
    </li>
  </ul>
</div>

  
  


<!--<div class="container">
  <div class="search-section">
    <input type="text" [(ngModel)]="tagBusqueda" (input)="buscarAmigo()" placeholder="Buscar amigo por tag...">
  </div>
    <ul *ngIf="filteredUsers.length > 0" class="search-results">
      <li *ngFor="let user of filteredUsers" (click)="selectUser(user)" [class.selected]="selectedUser === user">
        {{ user.name }}
      </li>
    </ul>

    <div *ngIf="searchResult">
      <p>Usuario encontrado: {{ searchResult.name }}</p>
      <button (click)="sendFriendRequest(searchResult)" *ngIf="!searchResult.status || searchResult.status === 'denied'">Enviar Solicitud de Amistad</button>
      <p *ngIf="searchResult.status === 'pending'">Solicitud Pendiente</p>
    </div>
  </div>

  Container 2: Lista de amigos 
  <div class="panel left-panel">
    <h2>Lista de Amigos</h2>
    <ul>
      <li *ngFor="let friend of friends">{{ friend.name }}</li>
    </ul>
  </div>

   Container 3: Solicitudes de amistad 
  <div class="panel middle-panel">
    <h2>Solicitudes de Amistad Recibidas</h2>
    <ul>
      <li *ngFor="let request of friendRequests">
        <div class="friend-request">
          <span>{{ request.name }}</span>
          <div *ngIf="request.status === 'pending'">
            <img src="assets/aceptar.png" alt="Aceptar" class="button-image accept-button" (click)="acceptRequest(request)">
            <img src="assets/denegar.png" alt="Denegar" class="button-image deny-button" (click)="denyRequest(request)">
          </div>
        </div>
      </li>
    </ul>
  </div>

Container 4: Solicitudes de amistad enviadas 
  <div class="panel extra-panel">
    <h2>Solicitudes de Amistad Enviadas</h2>
    <ul>
      <li *ngFor="let sentRequest of sentRequests">
        {{ sentRequest.name }} - {{ sentRequest.status === 'pending' ? 'Pendiente' : sentRequest.status }}
      </li>
    </ul>
  </div>
-->
