<div>
  <h3>Selecciona el tamaño predeterminado para los Xuxemons:</h3>
  <select [(ngModel)]="tamanoSeleccionado">
    <option value="Pequeño">Pequeño</option>
    <option value="Mediano">Mediano</option>
    <option value="Grande">Grande</option>
  </select>
  <div *ngIf="!mostrarEditXuxemon && !mostrarCrearXuxemon">
  <button mat-button (click)="debugXuxemon()">Debug</button>
  <button mat-button (click)="crearXuxemon()">Crear Xuxemon</button>
  <div *ngIf="usersInPage.length > 0; " class="users-grid">
    <div class="user-card" *ngFor="let user of usersInPage">
      <img [src]="user.imagen" [alt]="user.nombre" class="user-image">
      <div class="user-info" [ngClass]="{
        'tipo-tierra': user.tipo === 'Tierra',
        'tipo-aire': user.tipo === 'Aire',
        'tipo-agua': user.tipo === 'Agua'
       }">
        <p>{{ user.nombre }}</p>
        <p>{{ user.tipo }}</p>
        <p>{{ user.tamano }}</p>
        <!-- Botones de Editar y Eliminar -->
        <button mat-button (click)="editarXuxemon(user)">Editar</button>
        <button mat-button (click)="eliminarXuxemon(user)">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<app-editar-xuxemon *ngIf="mostrarEditXuxemon" [xuxemon]="xuxemonSeleccionado"></app-editar-xuxemon>
<app-crear-xuxemon *ngIf="mostrarCrearXuxemon"></app-crear-xuxemon>