<div>
  <div class="configuracion-administrador">
    <h3>Tamaño predeterminado Xuxemons</h3>
    <div class="contenedor-flex">
      <div class="contenedor-selector">
        <select [(ngModel)]="tamanoSeleccionado" class="selector-tamano">
          <option value="Pequeño">Pequeño</option>
          <option value="Mediano">Mediano</option>
          <option value="Grande">Grande</option>
        </select>
      </div>
  
      <div class="campo-configuracion">
        <label for="xuxesParaMediano">Cantidad de xuxes para subir a Mediano:</label>
        <input type="number" id="xuxesParaMediano" [(ngModel)]="xuxesParaMediano" min="1" class="input-configuracion">
        <button type="button" class="btn-confirmacion" (click)="confirmarMediano()">Confirmar</button>
      </div>
      <div class="campo-configuracion">
        <label for="xuxesParaGrande">Cantidad de xuxes para subir a Grande:</label>
        <input type="number" id="xuxesParaGrande" [(ngModel)]="xuxesParaGrande" min="1" class="input-configuracion">
        <button type="button" class="btn-confirmacion" (click)="confirmarGrande()">Confirmar</button>
      </div>
      <div class="campo-configuracion">
  <label for="xuxesBajonAzucar">Xuxes Bajon de Azucar:</label>
  <input type="number" id="xuxesBajonAzucar" [(ngModel)]="xuxesBajonAzucar" min="1" class="input-configuracion">
  <button type="button" class="btn-confirmacion" >Confirmar</button>
</div>

<div class="campo-configuracion">
  <label for="porcentajeInfeccion1">% de infeccion 1:</label>
  <input type="number" id="porcentajeInfeccion1" [(ngModel)]="porcentajeInfeccion1" min="1" class="input-configuracion">
  <button type="button" class="btn-confirmacion" >Confirmar</button>
</div>

<div class="campo-configuracion">
  <label for="porcentajeInfeccion2">% de infeccion 2:</label>
  <input type="number" id="porcentajeInfeccion2" [(ngModel)]="porcentajeInfeccion2" min="1" class="input-configuracion">
  <button type="button" class="btn-confirmacion">Confirmar</button>
</div>

<div class="campo-configuracion">
  <label for="porcentajeInfeccion3">% de infeccion 3:</label>
  <input type="number" id="porcentajeInfeccion3" [(ngModel)]="porcentajeInfeccion3" min="1" class="input-configuracion">
  <button type="button" class="btn-confirmacion">Confirmar</button>
</div>


<div>
  <label for="xuxesDiarias">xuxes diarias:</label>
  <input type="number" id="xuxesDiarias" [(ngModel)]="xuxesDiarias" min="1" class="input-configuracion">
  <button type="button" class="btn-confirmacion" (click)="aumentarobjetosdiarios()">Actualizar Cantidad</button>
</div>
  
  <div *ngIf="!mostrarEditXuxemon && !mostrarCrearXuxemon">
  <button mat-button (click)="debugXuxemon()">Debug</button>
  <button mat-button (click)="crearXuxemon()">Crear Xuxemon</button>
  <div *ngIf="usersInPage.length > 0; " class="users-grid">
    <div class="user-card" *ngFor="let user of usersInPage">
      <img [src]="user.imagen" [alt]="user.nombre" class="user-image">
      <div class="user-info" [ngClass]="{
        'tipo-tierra': user.tipo === 'Tierra',
        'tipo-aire': user.tipo === 'Aire',
        'tipo-agua': user.tipo === 'Agua'
       }">
        <p>{{ user.nombre }}</p>
        <p>{{ user.tipo }}</p>
        <p>{{ user.tamano }}</p>
        <!-- Botones de Editar y Eliminar -->
        <button mat-button (click)="editarXuxemon(user)">Editar</button>
        <button mat-button (click)="eliminarXuxemon(user)">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<app-editar-xuxemon *ngIf="mostrarEditXuxemon" [xuxemon]="xuxemonSeleccionado">Editar Xuxemons</app-editar-xuxemon>
<app-crear-xuxemon *ngIf="mostrarCrearXuxemon">Crear Xuxemons</app-crear-xuxemon>