<div class="container">
    <header class="header">
      <h1>Xuxemon</h1>
      <div class="currency">
        <img src="assets/coins.png" alt="Monedas">
        <span>100</span>
      </div>
    </header>

    <main class="main-menu">
      <div class="menu-item">
        <div class="icon-container">
          <img src="assets/store.png" alt="Tienda">
        </div>
        <div class="title-container">
          <span>Tienda</span>
        </div>
      </div>

      <div class="menu-item" (click)="navigateToUsers()">
        <div class="icon-container">
          <img src="assets/xuxedex.png" alt="xuxedex">
        </div>
        <div class="title-container">
          <span>Xuxedex</span>
        </div>
      </div>
      

      <div class="menu-item">
        <div class="icon-container">
          <img src="assets/hospital.png" alt="Hospital">
        </div>
        <div class="title-container">
          <span>Hospital</span>
        </div>
      </div>

      <div class="menu-item" (click)="navigateToInventory()">
        <div class="icon-container">
          <img src="assets/bag.png" alt="Inventario">
        </div>
        <div class="title-container">
          <span>Inventario</span>
        </div>
      </div>
    </main>
  </div>