<div *ngIf="usersInPage.length > 0" class="users-grid">
  <div class="user-card" *ngFor="let user of usersInPage"
  [ngClass]="getClassPorEstado(user.estado)">
    <div class="progress-bar" [style.width]="calculateProgressBarWidth(user.tamano)"></div>
    <p *ngIf="user.tamano !== 'Max.Level'">Caramelos: {{ user.caramelos }}</p>
    <p *ngIf="user.tamano === 'Grande'">Max Level</p>
    <img [src]="user.imagen" [alt]="user.nombre" class="user-image"
         [ngStyle]="{'width': getSize(user.tamano)}">
    <div class="user-info" [ngClass]="{
      'tipo-tierra': user.tipo === 'Tierra',
      'tipo-aire': user.tipo === 'Aire',
      'tipo-agua': user.tipo === 'Agua'
    }">
      <p>{{ user.nombre }}</p>
      <p>{{ user.tipo }}</p>
      <p>{{ user.tamano }}</p>
      <p>{{ user.estado }}</p>
      <button *ngIf="!user.maxLevelReached" (click)="alimentarXuxemon(user)">Alimentar</button>
    </div>
  </div>
</div>

<div *ngIf="mostrarInventario" class="overlay" (click)="cerrarInventario()">
  <div class="inventario" (click)="evitarCierre($event)">
    <ul>
      <li *ngFor="let item of inventario">
        <button (click)="disminuirCantidad('caramelos')">Caramelos: {{ item.caramelos }}</button>
        <button (click)="disminuirCantidad('piruleta')">Piruleta: {{ item.piruleta }}</button>
        <button (click)="disminuirCantidad('piruletal')">Piruletal: {{ item.piruletal }}</button>
        <button (click)="disminuirCantidad('algodon')">Algodon: {{ item.algodon }}</button> 
        <button (click)="disminuirCantidad('tabletachoco')">Tableta de Chocolate: {{ item.tabletachoco }}</button>
        <button (click)="disminuirCantidad('caramelo')">Caramelo: {{ item.caramelo }}</button>
        <button (click)="disminuirCantidad('baston')">Bastón: {{ item.baston }}</button> 
        <button (click)="disminuirCantidad('caramelolargo')">Caramelo largo: {{ item.caramelolargo }}</button> 
        <button (click)="disminuirCantidad('carameloredondo')">Caramelo redondo: {{ item.carameloredondo }}</button>
        <button (click)="disminuirCantidad('surtido')">Surtido: {{ item.surtido }}</button>
      </li>
    </ul>
  </div>
</div>