<div *ngIf="usersInPage.length > 0" class="users-grid">
  <div class="user-card" *ngFor="let user of usersInPage">
    <div class="progress-bar" [style.width]="calculateProgressBarWidth(user.tamano)"></div>
    <p *ngIf="user.tamano !== 'Max.Level'">Caramelos: {{ user.caramelos }}</p>
    <p *ngIf="user.tamano === 'Max.Level'">Max Level</p>
    <img [src]="user.imagen" [alt]="user.nombre" class="user-image"
         [ngStyle]="{'width': getSize(user.tamano)}">
    <div class="user-info" [ngClass]="{
      'tipo-tierra': user.tipo === 'Tierra',
      'tipo-aire': user.tipo === 'Aire',
      'tipo-agua': user.tipo === 'Agua'
    }">
      <p>{{ user.nombre }}</p>
      <p>{{ user.tipo }}</p>
      <p>{{ user.tamano }}</p>
      <button (click)="alimentarXuxemon(user)" [disabled]="user.maxLevelReached">Alimentar</button> <!-- Deshabilitar el botón si maxLevelReached es true -->
    </div>
  </div>
</div>
