
<div *ngIf="xuxemonsInfectadosBajon && xuxemonsInfectadosBajon.length > 0">
    <h2>Xuxemons con Bajón de Azúcar</h2>
    <div class="users-grid">
      <div class="user-card" *ngFor="let xuxemon of xuxemonsInfectadosBajon">
        <img [src]="xuxemon.imagen" [alt]="xuxemon.nombre" class="user-image">
        <div class="user-info" [ngClass]="{
            'tipo-tierra': xuxemon.tipo === 'Tierra',
            'tipo-aire': xuxemon.tipo === 'Aire',
            'tipo-agua': xuxemon.tipo === 'Agua'
          }">
          <p>{{ xuxemon.nombre }}</p>
          <p>{{ xuxemon.tipo }}</p>
          <p>{{ xuxemon.tamano }}</p>
          <p>{{ xuxemon.estado }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="xuxemonsInfectadosSobredosis && xuxemonsInfectadosSobredosis.length > 0">
    <h2>Xuxemons con Sobredosis de Azúcar</h2>
    <div class="users-grid">
      <div class="user-card" *ngFor="let xuxemon of xuxemonsInfectadosSobredosis">
        <p>Caramelos: {{ xuxemon.caramelos_comidos }}</p>
        <img [src]="xuxemon.imagen" [alt]="xuxemon.nombre" class="user-image">
        <div class="user-info" [ngClass]="{
            'tipo-tierra': xuxemon.tipo === 'Tierra',
            'tipo-aire': xuxemon.tipo === 'Aire',
            'tipo-agua': xuxemon.tipo === 'Agua'
          }">
          <p>{{ xuxemon.nombre }}</p>
          <p>{{ xuxemon.tipo }}</p>
          <p>{{ xuxemon.tamano }}</p>
          <p>{{ xuxemon.estado }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="xuxemonsInfectadosAtracon && xuxemonsInfectadosAtracon.length > 0">
    <h2>Xuxemons con Atracón</h2>
    <div class="users-grid">
      <div class="user-card" *ngFor="let xuxemon of xuxemonsInfectadosAtracon">
        <p>Caramelos: {{ xuxemon.caramelos_comidos }}</p>
        <img [src]="xuxemon.imagen" [alt]="xuxemon.nombre" class="user-image">
        <div class="user-info" [ngClass]="{
            'tipo-tierra': xuxemon.tipo === 'Tierra',
            'tipo-aire': xuxemon.tipo === 'Aire',
            'tipo-agua': xuxemon.tipo === 'Agua'
          }">
          <p>{{ xuxemon.nombre }}</p>
          <p>{{ xuxemon.tipo }}</p>
          <p>{{ xuxemon.tamano }}</p>
          <p>{{ xuxemon.estado }}</p>
        </div>
      </div>
    </div>
  </div>
  
