<div *ngIf="xuxemonsInfectadosBajon && xuxemonsInfectadosBajon.length > 0">
  <h2>Xuxemons con Bajón de Azúcar</h2>
  <div class="users-grid">
    <div class="user-card" *ngFor="let xuxemon of xuxemonsInfectadosBajon">
      <img [src]="xuxemon.imagen" [alt]="xuxemon.nombre" class="user-image">
      <div class="user-info" [ngClass]="{
        'tipo-tierra': xuxemon.tipo === 'Tierra',
        'tipo-aire': xuxemon.tipo === 'Aire',
        'tipo-agua': xuxemon.tipo === 'Agua'
      }">
        <p>{{ xuxemon.nombre }}</p>
        <p>{{ xuxemon.tipo }}</p>
        <p>{{ xuxemon.tamano }}</p>
        <p>{{ xuxemon.estado }}</p>
        <button (click)="vacunarBajondeAzucarVisual(xuxemon)">Curar Bajón de Azúcar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="xuxemonsInfectadosSobredosis && xuxemonsInfectadosSobredosis.length > 0">
  <h2>Xuxemons con Sobredosis de Azúcar</h2>
  <div class="users-grid">
    <div class="user-card" *ngFor="let xuxemon of xuxemonsInfectadosSobredosis">
      <img [src]="xuxemon.imagen" [alt]="xuxemon.nombre" class="user-image">
      <div class="user-info" [ngClass]="{
        'tipo-tierra': xuxemon.tipo === 'Tierra',
        'tipo-aire': xuxemon.tipo === 'Aire',
        'tipo-agua': xuxemon.tipo === 'Agua'
      }">
        <p>{{ xuxemon.nombre }}</p>
        <p>{{ xuxemon.tipo }}</p>
        <p>{{ xuxemon.tamano }}</p>
        <p>{{ xuxemon.estado }}</p>
        <button (click)="vacunarSobredosisVisual(xuxemon)">Curar Sobredosis de Azúcar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="xuxemonsInfectadosAtracon && xuxemonsInfectadosAtracon.length > 0">
  <h2>Xuxemons con Atracón</h2>
  <div class="users-grid">
    <div class="user-card" *ngFor="let xuxemon of xuxemonsInfectadosAtracon">
      <img [src]="xuxemon.imagen" [alt]="xuxemon.nombre" class="user-image">
      <div class="user-info" [ngClass]="{
        'tipo-tierra': xuxemon.tipo === 'Tierra',
        'tipo-aire': xuxemon.tipo === 'Aire',
        'tipo-agua': xuxemon.tipo === 'Agua'
      }">
        <p>{{ xuxemon.nombre }}</p>
        <p>{{ xuxemon.tipo }}</p>
        <p>{{ xuxemon.tamano }}</p>
        <p>{{ xuxemon.estado }}</p>
        <button (click)="vacunarAtraconVisual(xuxemon)">Curar Atracón</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="mostrarInventarioBajon" class="overlay" (click)="cerrarInventario()">
  <div class="inventario" (click)="evitarCierre($event)">
    <ul>
      <li *ngFor="let item of inventario">
        <button (click)="curarEnfermedad1(userId, selectedXuxemonName)">Xocolatina: {{ item.Xocolatina }}</button>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="mostrarInventarioSobredosis" class="overlay" (click)="cerrarInventario()">
  <div class="inventario" (click)="evitarCierre($event)">
    <ul>
      <li *ngFor="let item of inventario">
        <button (click)="curarEnfermedad2(userId, selectedXuxemonName)">XalDeFrutas: {{ item.XalDeFrutas }}</button>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="mostrarInventarioAtracon" class="overlay" (click)="cerrarInventario()">
  <div class="inventario" (click)="evitarCierre($event)">
    <ul>
      <li *ngFor="let item of inventario">
        <button (click)="curarEnfermedad3(userId, selectedXuxemonName)">Inxulina: {{ item.Inxulina }}</button>
      </li>
    </ul>
  </div>
</div>
