<mat-toolbar color="primary">
  <!-- Muestra los botones de registro y login solo si la ruta actual NO es /lista-usuarios -->
  <button *ngIf="currentRoute !== '/lista-usuarios'" mat-raised-button class="nav-button" routerLink="/register">Registro</button>
  <button *ngIf="currentRoute !== '/lista-usuarios'" mat-raised-button class="nav-button" routerLink="/login">Login</button>
  
  <!-- Muestra el botón de lista de usuarios y volver al login solo si la ruta actual es /lista-usuarios -->
  <button *ngIf="currentRoute === '/lista-usuarios'" mat-raised-button class="nav-button" routerLink="/lista-usuarios">Lista de Usuarios</button>
  <button *ngIf="currentRoute === '/lista-usuarios'" mat-raised-button class="nav-button" routerLink="/login">Volver al Login</button>

  <span class="toolbar-spacer"></span> <!-- Este elemento actúa como un separador -->
  <!-- Modificación aquí: Muestra el botón de crear solo si la ruta actual es /lista-usuarios -->
  <button *ngIf="currentRoute === '/lista-usuarios'" mat-raised-button color="accent" routerLink="/crear-usuario">Crear</button>
</mat-toolbar>

<router-outlet></router-outlet>
